<div class="header">
  <div class="header-logo">
    <div>
      <%= link_to root_path do %>
        <%= image_tag("BooKPuT-logo.png", class: "bookput-logo") %>
      <% end %>
    </div>
  </div>
  <div class="header-list">
    <ul>
      <li>あああああ</li>
      <li>いいいいい</li>
      <li>ううううう</li>
    </ul>
  </div>
</div>