.input-text.new-password, .form-text.new-password{
  margin-bottom: 10px;
}

.form-text.new-password{
  width: 300px !important;
  max-width: 100%;
}

.input-text.new-password{
  width: 300px !important;
  max-width: 100%;
}

.edit-password{
  position: relative;

  .toggle-password{
    left: 90%;
    top: 23px;
  }
}