@import "config";

.edit-password-caution{
  color: red;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.email-not-submitted{
  margin: 10px 0;
}

.email-not-submitted-case{
  margin-bottom: 20px;
  list-style: disc;
  list-style-position: inside;
  padding-left: 0.5em;
  li{
    font-weight: bold;
  }
}

@include mobile{
  .edit-log-in-info-text{
    .edit-password-caution{
      font-size: 18px;
    }

    p{
      font-size: 15px;
    }
    .email-not-submitted-case{
      margin: 10px 0;
      li{
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}