<footer>
  <div class="footer-upper">
    <ul class="footer-upper-list">
      <li>運営会社</li>
      <li>利用規約</li>
      <li>プライバシーポリシー</li>
      <li>特定商取引に関する表記</li>
      <li>個人情報保護方針</li>
      <li>ヘルプ</li>
    </ul>
  </div>
  <div class="footer-lower">
    <div class="footer-logo">
      <%= link_to root_path do %>
        <%= image_tag("BooKPuT-logo.png", class: "bookput-footer-logo") %>
      <% end %>
    </div>
    <div class="copyright">
      Copy right(c) 2026 BooKPuT All Rights reserved.
    </div>
  </div>
</footer>