<div class="header">
  <div class="header-logo">
    <%= link_to root_path do %>
      <%= image_tag("BooKPuT-logo.png", class: "bookput-header-logo") %>
    <% end %>
  </div>
  <div class="header-list">
    <div class="search">
      <input type="text" class="search-bar" placeholder="キーワードを入力してください" maxlength="50">
      <input type="submit" class="search-btn">
    </div>
    <ul class="header-btns">
      <li class="log-in-btn"><span class="log-in-btn-text">ログイン</span></li>
      <li class="sign-up-btn"><span class="sign-up-btn-text">新規登録</span></li>
    </ul>
  </div>
</div>