<%= render 'partial_template/header' %>

<main>
  <div class='post-list'>
  </div>
  <div class='app-description'>
  </div>
  <div class='how-to-use'>
  </div>
  <div class='faq'>
  </div>
</main>

<%= render 'partial_template/footer' %>