<%= render 'part_template/header' %>

<main>
  <div class='post-list'>
    投稿一覧
  </div>
  <div class='app-description'>
    アプリ説明文
  </div>
  <div class='how-to-use'>
    アプリの使い方
  </div>
  <div class='faq'>
    よくある質問
  </div>
</main>

<%= render 'part_template/footer' %>