.new-book-post-page{
  aspect-ratio: 16 / 9; /* 画像の縦横比を保つ */
  background-image: asset-url("bookshelves.png");
  background-size: cover;
  background-position: center; /* 中央に合わせると綺麗 */
  background-repeat: no-repeat;
}