@import "config";

.class{
  height: 100%;
}

.register-password{
  position: relative;
  width: 100%;
  
  .toggle-password{
    right: 5%;
    top: 50px;
    z-index: 10;
  }
}

@include mobile {
  .register-password{
    position: relative;
    .toggle-password{
      right: 4%;
      top: 40px;
    }
  }
}