@import "config";

#flash-container {
  display: flex;
  flex-direction: column;
  align-items: center; // 親要素で子要素を中央に寄せる
  width: 100%;
}

.flash-message {
  max-width: 80%;     // 画面端までくっつかないように制限
  width: fit-content; // 文字量に合わせて幅を伸縮させる
  text-align: left;
  padding: 12px;
  font-weight: bold;
  position: fixed;
  top: 12%;
  left: 5%;
  z-index: 1000; /* 特にかぶっていないため、ヘッダーと同じ設定 */
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* 成功時の色（シアン系） */
.notice {
  background-color: cyan;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 少し浮かせて見やすくする */
}

/* 警告時の色（赤系） */
.alert {
  background-color: red;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

@include tablet{
  .flash-message{
    top: 14%;
  }
}

@include mobile{
  .flash-message{
    top: 18%;
    left: 4%;
  }
}