.btn-on-center, .hovers{
  &:hover{
    opacity: 0.7;
  }
}

.btn-on-center{
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}

.btn-text{
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}