.error-message, .image-re-select-message {
  color: #ff0000;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 70%;
}

.error-message.is-full-with{
  width: 100% !important;
  margin-bottom: 15px;
}

.edit-password, .edit-email {
  .error-message {
    width: 300px !important;
    max-width: 360px;
  }
}