.error-message {
  color: #ff0000;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 70%;
}

.modal-wrapper.log-in{
  .error-message{
    width: 100% !important;
  }
}

.reset-password {
  .error-message {
    width: 100% !important;
  }
}