* {
  box-sizing: border-box;
}

.header{
  background-color: #fffafa;
  position: fixed;
  top: 0;           /* 画面の最上部に張り付くように指定 */
  left: 0;          /* 左端から開始 */
  width: 100%;      /* ★重要：これがないと横幅が縮んで崩れる */
  z-index: 100;     /* スライドの矢印(20)などより高い数字に設定 */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 浮いている感じを出す */
}

.header-wrapper{
  max-width: 1500px;
  padding-bottom: 30px;
}

.header-logo{
  float: left;
  padding-top: 15px;
  margin-left: 20px;
}

.bookput-header-logo{
  height: 60px;
  width: 250px;
}

.header-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.search-bar{
  width: 500px;
  margin: 0 10px;
}

.search-btn{
  width: 50px;
  cursor: pointer;
  color: #999;
  border: none;
}

.header-btns li{
  float: left;
}

.log-in-btn{
  margin-right: 110px;
  background-color: orange;
}

.sign-up-btn{
  margin-right: 60px;
  background-color: cyan;
}

.log-in-btn, .sign-up-btn {
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}

.log-in-btn:hover, .sign-up-btn:hover{
  opacity: 0.5;
}