* {
  box-sizing: border-box;
}

.header-logo{
  float: left;
  padding-top: 15px;
}

.bookput-header-logo{
  height: 60px;
  width: 250px;
}

.header-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.search-bar{
  width: 500px;
  margin: 0 10px;
}

.search-btn{
  width: 50px;
  cursor: pointer;
  color: #999;
  border: none;
}

.header-btns li{
  float: left;
}

.log-in-btn{
  margin-right: 110px;
  background-color: orange;
}

.sign-up-btn{
  margin-right: 60px;
  background-color: cyan;
}

.log-in-btn, .sign-up-btn {
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}

.log-in-btn:hover, .sign-up-btn:hover{
  opacity: 0.5;
}