@import "config";

.posted-comment-contents{
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.posted-comment-upper{
  display: flex;
  justify-content: space-between;
}

.posted-comment-user-field{
  display: flex;
  margin-top: 12px;
}

.user-image.posted-comment{
  width: 35px;
  height: 35px;
}

.user-nickname.posted-comment{
  font-weight: bold;
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 8px 10px;
}

.posted-comment-text{
  font-weight: normal;
  font-size: 17px;
  margin: 10px 0;
}

.posted-comment-btn-field{
  display: flex;
  gap: 10px;
}

.posted-comment-btn-text{
  font-weight: bold;
  font-size: 16px;
  color: darkgray;
}

.fa-thumbs-up.posted-comment, .fa-thumbs-down.posted-comment{
  font-size: 20px !important;
  color: darkgray;
}

@include mobile{
  .posted-comment-time{
    font-size: 11px;
  }

  .user-image.posted-comment{
    width: 30px;
    height: 30px
  }

  .user-nickname.posted-comment{
    font-size: 12px;
  }

  .posted-comment-text{
    font-size: 15px;
  }

  .edit-comment-form {
    .submit-comment-btn {
      width: 30px;
      height: 30px;

      .fa-solid.fa-paper-plane {
        font-size: 15px;
      }
    }
  }

  .posted-comment-btn-text{
    font-size: 14px;
  }

  .fa-thumbs-up.posted-comment, .fa-thumbs-down.posted-comment{
    font-size: 16px !important;
  }
}