@import "config";

.right-bottom-btn.return{
  background-color: #ccc;
  border: 1px solid #ccc;
  bottom: 8px;
  padding: 10px;
}

@include mobile{
  .right-bottom-btn.return{
    display: none;
  }
}