@import "config";

.edit-profile-page{
  flex: 1;
  display: flex;
  flex-direction: column;
  form.sign-up.-or-edit {
    flex: 1; 
  }
  .form-wrapper{
    background-color: lavender;
  }
}

@include mobile{
  .edit-profile-page{
    .urge-log-in{
      display: none;
    }
  }
}